@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-c3mr-bg text-c3mr-text antialiased;
    margin: 0;
    min-height: 100vh;
    font-family: Inter, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}
